---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>Angular</li>
        <li>Astro</li>
        <li>Python</li>
        <li>Php</li>
        <li>Java</li>
        <li>PCI</li>
        <li>3DS</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Technical leader and Full-stack web developer 🤖 with 9 years experience.
      Job experience as teach lead 💻, full-Stack developer, Data Analyst,
      Business Process Analyst and IT Project Implementation based on agile
      methodologies. Very interested in microservices architectures, project
      development, and working in a collaborative environment. Certified in PCI
      DSS, secure development 🛡️
    </p>
  </div>
</Card>
