---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
    <div class="flex justify-between w-full items-start mb-2">
        <div class="flex flex-col">
            <h2>Now</h2>
            <!-- <a href="https://sive.rs/nowff" target="_blank">
        <span class="text-xs text-gray-500 cursor-pointer">what's that ?</span>
      </a> -->
        </div>
        <Pulse />
    </div>
    <p class="text-xs">Software developer - fintech app</p>
    <div class="flex w-full items-start mb-2">
        <div class="flex flex-col">
            <a
                href="https://play.google.com/store/apps/details?id=com.dyner24.dyner24&hl=es"
                style="font-family:Proxima Nova,-apple-system,Lato,Helvetica,Arial,sans-serif;text-decoration:none"
                target="_blank"
                data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dcom.Xpay.Xpay%26hl%3Des&source=gmail&ust=1732292192166000&usg=AOvVaw0crHzW4P_WO1Szu4xkpESv"
                ><img
                    alt=""
                    border="0"
                    height="20"
                    style="font-size:0;border:0;display:inline-block;vertical-align:middle;border-radius:2px;max-height:87px;max-width:60px;object-fit:contain;width:100%"
                    width="16"
                    src="https://ci3.googleusercontent.com/meips/ADKq_NaRcJyZSKlGUSbj9doDmpW3AQnR0dI_Qe8vA2TTHB4LQCwvMaVeQGYWBgQ2E16V4VVNSyYbO0_r0BGT5GxRdoK_rR9qJTkdwf-jQiN7JXKHGjh4V-v_TZobKpNQyLE=s0-d-e1-ft#https://www.dyner24.com/wp-content/uploads/2022/09/Google-Play-150px.png"
                    class="CToWUd"
                    data-bit="iit"
                /></a
            >
        </div>
        <div class="flex flex-col">
            <a
                href="https://apps.apple.com/co/app/xpay-inc/id6444577787"
                style="font-family:Proxima Nova,-apple-system,Lato,Helvetica,Arial,sans-serif;text-decoration:none"
                target="_blank"
                data-saferedirecturl="https://www.google.com/url?q=https://apps.apple.com/co/app/xpay-inc/id6444577787&source=gmail&ust=1732292192166000&usg=AOvVaw1J4zmEQxsozv0SZidROo75"
                ><img
                    alt=""
                    border="0"
                    height="20"
                    style="font-size:0;border:0;display:inline-block;vertical-align:middle;border-radius:2px;max-height:87px;max-width:60px;object-fit:contain;width:100%;margin-left: 5px;"
                    width="16"
                    src="https://ci3.googleusercontent.com/meips/ADKq_NYlp4Ynd-dxANhU1XsaJ5__g_dKYppJBrcb_TLuUiJVRMMiko0-CZEokqb40H8lkLS0y_qH4YhWtKZmHAtU3cZimnzJNF5Cqm5J-26HELzAEp_mF-gEtlvFWkwp=s0-d-e1-ft#https://www.dyner24.com/wp-content/uploads/2022/09/App-Store-150px.png"
                    class="CToWUd"
                    data-bit="iit"
                /></a
            >
        </div>
    </div>
</Card>
